PORT = 9000
MONGOURL_COMPASS = mongodb://127.0.0.1/MERN-Ecoomerce

MONGOURL = mongodb+srv://Bablukumar:8NWA0aYn5nSe5JIe@shopkart.lcpnf.mongodb.net/shopkart?retryWrites=true&w=majority&appName=Shopkart

JWT_SECRET = sdkfdfsdhfdsfhdsiufhfidshfdusdfui

JWT_EXPIRE = 5d

COOKIE_EXPIRE=5

SMPT_HOST = smtp.gmail.com

SMPT_PORT = 587

SMPT_SERVICE = gmail

SMPT_MAIL = bk559722@gmail.com

SMPT_PASSWORD= ovjoatttamrqzaoc

CLOUDINARY_NAME  = dwivzdqdv
CLOUDINARY_API_KEY = 896161359767218
CLOUDINARY_API_SECRET = yKur8X80D3XCUxnvpSKHsP-fkyg

FRONTEND_URL  = https://shopkart-epla.onrender.com


STRIPE_SECRET_KEY = sk_test_51QZ2KvC7Sy8hAl8REeGtW5bY2dzv3tbKTqh3rDzecRpKnmpjTlvo2rAdLJyIkxGf408xORTGDa09fO1KBfhD5EkQ00HwLcQgRV
STRIPE_API_KEY = pk_test_51QZ2KvC7Sy8hAl8RXIYTQAsU5Al05zVQWRZcPAjaNWqWkNo6RU4kqbAVS3Tj8rYikheShQVSwMNRSZHSkDLvljrm00Kp0SIKBT

